<!DOCTYPE html>
<div lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="~{lte_template :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div th:include="~{lte_template :: menu}"></div>
    <div id="apiTest" class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Тест API</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Тест API</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Access Token</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-success" v-on:click="getToken()">Получить
                                        </button>
                                    </div>
                                    <!-- /btn-group -->
                                    <input type="text" class="form-control" v-bind:value="[ tokenSA ]">
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Настройки</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Ставка</label>
                                            <input type="text" class="form-control" placeholder="Ставка ..." v-model="gold">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Дельта PIN88</label>
                                            <input type="text" class="form-control" placeholder="Дельта PIN88 ..."
                                                   v-model="deltaPIN">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Минимальный коэффициент</label>
                                            <input type="text" class="form-control" placeholder="Мин. кэф. ..."
                                                   v-model="minKef">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Минимальный Валуй</label>
                                            <input type="text" class="form-control" placeholder="Мин. валуй ..."
                                                   v-model="minValue">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Максимальный Валуй</label>
                                            <input type="text" class="form-control" placeholder="Макс. валуй ..."
                                                   v-model="maxValue">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Сохранять на балансе</label>
                                            <input type="text" class="form-control" placeholder="Сохранять на балансе"
                                                   v-model="saveBalance">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="custom-control custom-checkbox col-sm-4" style="padding-top: 40px;">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox"
                                               v-model="balanceBetting">
                                        <label for="customCheckbox" class="custom-control-label">Списывать с баланса</label>
                                    </div>

                                    <div class="custom-control custom-checkbox col-sm-4" style="padding-top: 40px;">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox1"
                                               v-model="creditBetting">
                                        <label for="customCheckbox1" class="custom-control-label">Списывать с кредита</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="custom-control custom-checkbox col-sm-4" style="padding-top: 40px;">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2"
                                               v-model="autostartParse">
                                        <label for="customCheckbox2" class="custom-control-label">Автостарт парсинга</label>
                                    </div>

                                    <div class="custom-control custom-checkbox col-sm-4" style="padding-top: 40px;">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox3"
                                               v-model="autostartBetting">
                                        <label for="customCheckbox3" class="custom-control-label">Автостарт установки
                                            ставок</label>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>URl Api</label>
                                            <input type="text" class="form-control" placeholder="URl ..." v-model="urlApi">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-block btn-default" v-on:click="saveSettings()">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:include="~{lte_template :: footer}"></div>
<script th:inline="javascript">
    var apiApp = new Vue({
        el: '#apiTest',
        data: {
            tokenSA: 'null',
            urlApi: /*[[${url}]]*/,
            gold: /*[[${gold}]]*/,
            deltaPIN: /*[[${delta}]]*/,
            minKef: /*[[${minKef}]]*/,
            minValue: /*[[${minValue}]]*/,
            maxValue: /*[[${maxValue}]]*/,
            autostartParse: /*[[${autoStartParsing}]]*/,
            autostartBetting: /*[[${autoStartBetting}]]*/,
            balanceBetting: /*[[${balanceBetting}]]*/,
            creditBetting: /*[[${creditBetting}]]*/,
            saveBalance: /*[[${saveBalance}]]*/
        },
        created() {
            this.setupStream();
        },
        methods: {
            setupStream() {

                base.es.addEventListener('currentToken', event => {
                    let data = JSON.parse(event.data);
                    this.tokenSA = data.token;
                }, false);

                base.es.addEventListener('changeSettings', event => {
                    let data = JSON.parse(event.data);
                    console.log(event.data);
                    this.tokenSA = data.token;
                    this.urlApi = data.urlApi;
                    this.gold = data.gold;
                    this.deltaPIN = data.deltaPIN;
                    this.minKef = data.minKef;
                    this.minValue = data.minValue;
                    this.maxValue = data.maxValue;
                    this.balanceBetting = data.balanceBetting;
                    this.creditBetting = data.creditBetting;
                    this.saveBalance = data.saveBalance
                }, false);

            },
            getToken() {
               axios.post('/command', 'name=getToken&_csrf='+base.hash, axiosConfig);
            },
            saveSettings() {
                axios.post('/savesettings', 'urlApi='+this.urlApi+'&gold='+this.gold+'&deltaPIN='+this.deltaPIN+'&minKef='+this.minKef+'&minValue='+this.minValue+'&maxValue='+this.maxValue+'&balanceBetting='+this.balanceBetting+'&creditBetting='+this.creditBetting+'&saveBalance='+this.saveBalance+'&_csrf='+base.hash, axiosConfig);
            }
        }
    });
</script>
</body>
</html>
</div>


