<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <script src="assets/libs/js/vue.min.js"></script>
    <script src="assets/libs/js/axios.min.js"></script>
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>

</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div id="contents" class="splash-container">
        <div class="card shadow">
            <div class="card-header text-center bg-primary text-white rounded-top rounded-bottom"><img class="logo-img" src="assets/images/logo.png" alt="logo">
                <p/>
                <h5 class="text-center text-white" style="font-size: xx-large;">{{ id }}</h5>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script th:inline="javascript">
    const axiosConfig = {
        headers: {
        "content-Type": "application/x-www-form-urlencoded",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3"
        },
        credentials: "same-origin"
    };

    var app = new Vue({
        el: '#contents',
        data: {
            id: /*[[${id}]]*/,
            hash: /*[[${_csrf.token}]]*/
        },
        created() {
            this.setupStream();
        },
        methods: {
            setupStream() {

                let es = new EventSource('../whait_auth/' + String(this.id));

                es.addEventListener('login', event => {
                    let data = JSON.parse(event.data);
                    es.close()
                    this.submitEntry(data.user, data.pass)
                }, false);

                es.addEventListener('error', event => {
                    es.close()
                }, false);
            },
            submitEntry(reqUserName, reqPass) {
                let self = this;
                axios.post('', 'username='+reqUserName+'&password='+reqPass+'&_csrf='+this.hash, axiosConfig)
                .then(function(response){
                        const status =
                        JSON.parse(response.status);
                        if (status == '200') {
                        window.location.href = "/";
                        }
                });
            }
        }
    });


    </script>
</body>

</html>