<!DOCTYPE html>
<div lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
     xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="~{lte_template :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div th:include="~{lte_template :: menu}"></div>
    <div class="content-wrapper" id="indexPage">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-5">
                        <!-- solid sales graph -->
                        <div class="card bg-gradient-info">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="fas fa-th mr-1"></i>
                                    График открытых ставок
                                </h3>
                            </div>
                            <div style="max-width: 100%; overflow: auto;">
                                <div class="card-body">
                                    <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px;"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-5">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Открытые ставки</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Время ставки</th>
                                        <th>ID</th>
                                        <th>Лига</th>
                                        <th>Дом</th>
                                        <th>Гости</th>
                                        <th>Контора</th>
                                        <th>Время матча</th>
                                        <th>Тип ставки</th>
                                        <th>Цель ставки</th>
                                        <th>Смещение</th>
                                        <th>Bias</th>
                                        <th>Коэффициент</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  v-for="item in openedBets">
                                        <td>{{ item.betTime }}</td>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.league }}</td>
                                        <td>{{ item.homeTeam }}</td>
                                        <td>{{ item.awayTeam }}</td>
                                        <td>{{ item.sportbook }}</td>
                                        <td>{{ item.eventStart }}</td>
                                        <td>{{ item.oddType }}</td>
                                        <td>{{ item.targetType }}</td>
                                        <td>{{ item.serverPivot }}</td>
                                        <td>{{ item.pivotBias }}</td>
                                        <td>{{ item.serverOdd }}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Время ставки</th>
                                        <th>ID</th>
                                        <th>Лига</th>
                                        <th>Дом</th>
                                        <th>Гости</th>
                                        <th>Контора</th>
                                        <th>Время матча</th>
                                        <th>Тип ставки</th>
                                        <th>Цель ставки</th>
                                        <th>Смещение</th>
                                        <th>Bias</th>
                                        <th>Коэффициент</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div th:include="~{lte_template :: footer}"></div>
<script th:inline="javascript">
    var apiApp = new Vue({
        el: '#indexPage',
        data: {
            openedBets: /*[[${openedBets}]]*/
        },
        created() {
            this.setupStream();
        },
        methods: {
            setupStream() {
                base.es.addEventListener('openedBets', event => {
                    let data = JSON.parse(event.data);
                    this.openedBets = data;
                }, false);

            }
        }
    });
</script>
<script th:src="@{lte/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{lte/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{lte/plugins/chart.js/Chart.min.js}"></script>
<script th:inline="javascript">
      $(function () {
        $("#example1").DataTable({
          "responsive": true,
          "autoWidth": false,
        });
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
        });

        $(window).resize(function(e) {
            fitChart()
        });

          var salesGraphChartCanvas = $('#line-chart').get(0).getContext('2d');

          var salesGraphChartData = {
            labels  : /*[[${labels}]]*/,
            datasets: [
              {
                label               : 'Ставок',
                fill                : false,
                borderWidth         : 2,
                lineTension         : 0,
                spanGaps : true,
                borderColor         : '#efefef',
                pointRadius         : 3,
                pointHoverRadius    : 7,
                pointColor          : '#efefef',
                pointBackgroundColor: '#efefef',
                data                : /*[[${fields}]]*/
              }
            ]
          }
          var salesGraphChartOptions = {
            maintainAspectRatio : false,
            responsive : true,
            legend: {
              display: false,
            },
            scales: {
              xAxes: [{
                ticks : {
                  fontColor: '#efefef',
                },
                gridLines : {
                  display : false,
                  color: '#efefef',
                  drawBorder: false,
                }
              }],
              yAxes: [{
                ticks : {
                  stepSize: 10,
                  fontColor: '#efefef',
                },
                gridLines : {
                  display : true,
                  color: '#efefef',
                  drawBorder: false,
                }
              }]
            }
          }
          var salesGraphChart = new Chart(salesGraphChartCanvas, {
                  type: 'line',
                  data: salesGraphChartData,
                  options: salesGraphChartOptions
                }
          );
          var xAxisLabelMinWidth = 15;
          function fitChart(){
                var chartCanvas = document.getElementById('line-chart');
                var maxWidth = chartCanvas.parentElement.parentElement.clientWidth;
                var width = Math.max(salesGraphChart.data.labels.length * xAxisLabelMinWidth, maxWidth);

                chartCanvas.parentElement.style.width = width +'px';
          }

          fitChart()
      });
</script>

</body>
</html>
</div>