<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>My first BootstrapVue app</title>

    <!-- Required Stylesheets -->
    <link
            type="text/css"
            rel="stylesheet"
            href="assets/my/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="assets/my/bootstrap-vue.min.css"
    />
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">

    <!-- Required scripts -->
    <script src="assets/my/vue.min.js"></script>
    <script src="assets/my/bootstrap-vue.min.js"></script>
</head>
<body>
<div id="app">
    <div class="nav-left-sidebar sidebar-dark">
        <b-nav vertical pills >
            <b-navbar-brand href="#">BukBot</b-navbar-brand>
            <b-nav-item href="/"><i class="fas fa-desktop"></i>Главная</b-nav-item>
            <b-nav-item v-b-toggle.collapse-1 variant="dark"><i class="fas fa-chart-area"></i>Статистика</b-nav-item>
            <b-collapse id="collapse-1" class="submenu">
                <b-nav-item href="/valuebets">Valuebets</b-nav-item>
            </b-collapse>
        </b-nav>
    </div>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <b-row>
                <div class="col-sm-12">
                    <div class="card">
                        <div class="overflow-auto">
                            <div class="card-header">
                                <b-badge class="mr-4" variant="primary" style="float: left; font-size: x-large;" >Текущие вилки</b-badge>
                                <b-pagination
                                        v-model="currentPage"
                                        :total-rows="rows"
                                        :per-page="perPage"
                                        aria-controls="my-table"
                                ></b-pagination>

                            </div>
                            <div class="card-body">
                                <b-table hover bordered
                                         id="my-table"
                                         :items="items"
                                         :per-page="perPage"
                                         :current-page="currentPage"
                                ></b-table>
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
        </div>
    </div>

<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->
</div>
    <script th:inline="javascript">
    window.app = new Vue({
        el: '#app',
        data: {
            id: /*[[${id}]]*/,
            perPage: 3,
            currentPage: 1,
            items:''
        },
        created() {
            this.setupStream();
        },
        methods: {
            setupStream() {

                let es = new EventSource('../valuebets/' + String(this.id));

                es.addEventListener('valuebetsUpdate', event => {
                    let data = JSON.parse(event.data);
                    console.log(data);
                    this.items = data;
                }, false);

                es.addEventListener('error', event => {
                }, false);
            }
        },
        computed: {
            rows() {
                return this.items.length
            }
        }
    });
    </script>
</body>
</html>